In [17]:
import pymongo

dburl = 'mongodb://localhost:27017' #url server mongodb yg nanti untuk konek
# untuk konekin ke mongodb
myMongo = pymongo.MongoClient(dburl)
# ini untuk liat list database
dbs = myMongo.list_database_names()

Kampus = myMongo['Kampus'] #nama database penjualan. (baru)
Col_Dosen = Kampus['Dosen'] # ini sama dg fungsi db.createcollection. tp ini jg bisa akses collection lama
Col_Mahasiswa = Kampus['Mahasiswa']
print(dbs)

['HRD', 'Penjualan', 'RestaurantNY', 'admin', 'config', 'local']

In [18]:
user1 = Kampus.add_user('andi','anditopsecret',roles=['dbAdmin','readWrite'])
user2 = Kampus.add_user('budi','buditopsecret',roles=['readWrite'])

<ipython-input-18-65551385b80f>:1: DeprecationWarning: add_user is deprecated and will be removed in PyMongo 4.0. Use db.command with createUser or updateUser instead
  user1 = Kampus.add_user('andi','anditopsecret',roles=['dbAdmin','readWrite'])
<ipython-input-18-65551385b80f>:2: DeprecationWarning: add_user is deprecated and will be removed in PyMongo 4.0. Use db.command with createUser or updateUser instead
  user2 = Kampus.add_user('budi','buditopsecret',roles=['readWrite'])

In [19]:
Data_Dosen=[{'nama':"Caca",
'usia':28,
'asal':"Jakarta",
'bidang':"Fisika Astrologi",
'titel':"S2",
'status':"Honorer",
'nip':123,
'matkul':["Metrologi","Kosmologi","Kalkulus"]},
{'nama':"Dedi",
'usia':29,
'asal':"Yogyakarta",
'bidang':"Fisika Terapan",
'titel':"S3",
'status':"PNS",
'nip':456,
'matkul':["Instrumentasi","Elektronika","Fisika Dasar"]},
{'nama':"Euis",
'usia':30,
'asal':"Bandung",
'bidang':"Fisika Teoretik",
'titel':"S1",
'status':"Honorer",
'nip':789,
'matkul':["Fisika Dasar","Fisika Modern","Kalkulus"]}]

In [20]:
Col_Dosen.insert_many(Data_Dosen)
print("data dosen sudah masuk")

data dosen sudah masuk

In [21]:
Data_Mahasiswa=[{'nama':"Faza",
'usia':19,
'asal':"Aceh",
'prodi':"Fisika",
'angkatan':2017,
'nim':123},
{'nama':"Gilang",
'usia':20,
'asal':"Semarang",
'prodi':"Fisika",
'angkatan':2017,
'nim':456},
{'nama':"Hanafi",
'usia':20,
'asal':"Makassar",
'prodi':"Fisika",
'angkatan':2017,
'nim':789},
{'nama':"Dini",
'usia':20,
'asal':"Bekasi",
'prodi':"Fisika",
'angkatan':2017,
'nim':str('004')}]

In [22]:
Col_Mahasiswa.insert_many(Data_Mahasiswa)
print("data mahasiswa sudah masuk")

data mahasiswa sudah masuk

In [23]:
for i in Col_Dosen.find():
    print(f'Dosen: \n {i}')
print ('='*100)
for i in Col_Mahasiswa.find():
    print(f'Mahasiswa: \n {i}')

Dosen:
 {'_id': ObjectId('5f64737f70800cfdebd8fd5b'), 'nama': 'Caca', 'usia': 28, 'asal': 'Jakarta', 'bidang': 'Fisika Astrologi', 'titel': 'S2', 'status': 'Honorer', 'nip': 123, 'matkul': ['Metrologi', 'Kosmologi', 'Kalkulus']}
Dosen:
 {'_id': ObjectId('5f64737f70800cfdebd8fd5c'), 'nama': 'Dedi', 'usia': 29, 'asal': 'Yogyakarta', 'bidang': 'Fisika Terapan', 'titel': 'S3', 'status': 'PNS', 'nip': 456, 'matkul': ['Instrumentasi', 'Elektronika', 'Fisika Dasar']}
Dosen:
 {'_id': ObjectId('5f64737f70800cfdebd8fd5d'), 'nama': 'Euis', 'usia': 30, 'asal': 'Bandung', 'bidang': 'Fisika Teoretik', 'titel': 'S1', 'status': 'Honorer', 'nip': 789, 'matkul': ['Fisika Dasar', 'Fisika Modern', 'Kalkulus']}
====================================================================================================
Mahasiswa:
 {'_id': ObjectId('5f64738670800cfdebd8fd5e'), 'nama': 'Faza', 'usia': 19, 'asal': 'Aceh', 'prodi': 'Fisika', 'angkatan': 2017, 'nim': 123}
Mahasiswa:
 {'_id': ObjectId('5f64738670800cfdebd8fd5f'), 'nama': 'Gilang', 'usia': 20, 'asal': 'Semarang', 'prodi': 'Fisika', 'angkatan': 2017, 'nim': 456}
Mahasiswa:
 {'_id': ObjectId('5f64738670800cfdebd8fd60'), 'nama': 'Hanafi', 'usia': 20, 'asal': 'Makassar', 'prodi': 'Fisika', 'angkatan': 2017, 'nim': 789}
Mahasiswa:
 {'_id': ObjectId('5f64738670800cfdebd8fd61'), 'nama': 'Dini', 'usia': 20, 'asal': 'Bekasi', 'prodi': 'Fisika', 'angkatan': 2017, 'nim': '004'}

In [24]:
#HAPUS Property Faza
Col_Mahasiswa.delete_one({"nama" : "Faza"})
print("Berhasil hapus data Faza")
print('='*100)
for i in Col_Mahasiswa.find():
    print(f'Mahasiswa: \n {i}')

Berhasil hapus data Faza
====================================================================================================
Mahasiswa:
 {'_id': ObjectId('5f64738670800cfdebd8fd5f'), 'nama': 'Gilang', 'usia': 20, 'asal': 'Semarang', 'prodi': 'Fisika', 'angkatan': 2017, 'nim': 456}
Mahasiswa:
 {'_id': ObjectId('5f64738670800cfdebd8fd60'), 'nama': 'Hanafi', 'usia': 20, 'asal': 'Makassar', 'prodi': 'Fisika', 'angkatan': 2017, 'nim': 789}
Mahasiswa:
 {'_id': ObjectId('5f64738670800cfdebd8fd61'), 'nama': 'Dini', 'usia': 20, 'asal': 'Bekasi', 'prodi': 'Fisika', 'angkatan': 2017, 'nim': '004'}

In [25]:
#Insert Dodi dan data2nya

Dodi={'nama':"Dodi",
'usia':27,
'asal':"Surabaya",
'bidang':"Computer Science",
'titel':"S2",
'status':"PNS",
'nip':998,
'matkul':["Data Analysis","AI","NLP"]}

Col_Dosen.insert_one(Dodi)
print('Berhasil menambahkan Dodi')
print('='*100)
for i in Col_Dosen.find():
    print(f'Dosen: \n {i}')

Berhasil menambahkan Dodi
====================================================================================================
Dosen:
 {'_id': ObjectId('5f64737f70800cfdebd8fd5b'), 'nama': 'Caca', 'usia': 28, 'asal': 'Jakarta', 'bidang': 'Fisika Astrologi', 'titel': 'S2', 'status': 'Honorer', 'nip': 123, 'matkul': ['Metrologi', 'Kosmologi', 'Kalkulus']}
Dosen:
 {'_id': ObjectId('5f64737f70800cfdebd8fd5c'), 'nama': 'Dedi', 'usia': 29, 'asal': 'Yogyakarta', 'bidang': 'Fisika Terapan', 'titel': 'S3', 'status': 'PNS', 'nip': 456, 'matkul': ['Instrumentasi', 'Elektronika', 'Fisika Dasar']}
Dosen:
 {'_id': ObjectId('5f64737f70800cfdebd8fd5d'), 'nama': 'Euis', 'usia': 30, 'asal': 'Bandung', 'bidang': 'Fisika Teoretik', 'titel': 'S1', 'status': 'Honorer', 'nip': 789, 'matkul': ['Fisika Dasar', 'Fisika Modern', 'Kalkulus']}
Dosen:
 {'_id': ObjectId('5f6473e570800cfdebd8fd62'), 'nama': 'Dodi', 'usia': 27, 'asal': 'Surabaya', 'bidang': 'Computer Science', 'titel': 'S2', 'status': 'PNS', 'nip': 998, 'matkul': ['Data Analysis', 'AI', 'NLP']}

In [28]:
#Mengubah nama Hanafi dan umurnya

Data = {"nim" : 789} # kondisi data yg nanti akan d update
nama_baru = {"$set": {"nama": 'Ahmad Hanafi',"usia": 22}}

Col_Mahasiswa.update_one(Data,nama_baru)
#Col_Mahasiswa.update_one(Data,umur_baru)
for i in Col_Mahasiswa.find() : 
    print(i)

{'_id': ObjectId('5f64738670800cfdebd8fd5f'), 'nama': 'Gilang', 'usia': 20, 'asal': 'Semarang', 'prodi': 'Fisika', 'angkatan': 2017, 'nim': 456}
{'_id': ObjectId('5f64738670800cfdebd8fd60'), 'nama': 'Ahmad Hanafi', 'usia': 22, 'asal': 'Makassar', 'prodi': 'Fisika', 'angkatan': 2017, 'nim': 789}
{'_id': ObjectId('5f64738670800cfdebd8fd61'), 'nama': 'Dini', 'usia': 20, 'asal': 'Bekasi', 'prodi': 'Fisika', 'angkatan': 2017, 'nim': '004'}

In [29]:
## Mengubah nama property 'asal' > 'Kota_asal' : 
Data = {} 
new_val ={"$rename": {'asal' : 'Kota_asal'}}
Col_Dosen.update_many(Data,new_val)
print('Collection Dosen berhasil diubah')
Col_Mahasiswa.update_many(Data,new_val)
print('Collection Mahasiswa berhasil diubah')

Collection Dosen berhasil diubah
Collection Mahasiswa berhasil diubah

In [30]:
## Mengubah prodi menjadi Matematika, untuk kondisi usia=20
Data = {'usia':20} 
new_val ={"$set": {'prodi' : 'Matematika'}} 
Col_Mahasiswa.update_many(Data,new_val)
print('Collection Mahasiswa berhasil diubah')

Collection Mahasiswa berhasil diubah

In [31]:
for i in Col_Dosen.find():
    print(f'Dosen: \n {i}')
print ('='*100)
for i in Col_Mahasiswa.find():
    print(f'Mahasiswa: \n {i}')

Dosen:
 {'_id': ObjectId('5f64737f70800cfdebd8fd5b'), 'nama': 'Caca', 'usia': 28, 'bidang': 'Fisika Astrologi', 'titel': 'S2', 'status': 'Honorer', 'nip': 123, 'matkul': ['Metrologi', 'Kosmologi', 'Kalkulus'], 'Kota_asal': 'Jakarta'}
Dosen:
 {'_id': ObjectId('5f64737f70800cfdebd8fd5c'), 'nama': 'Dedi', 'usia': 29, 'bidang': 'Fisika Terapan', 'titel': 'S3', 'status': 'PNS', 'nip': 456, 'matkul': ['Instrumentasi', 'Elektronika', 'Fisika Dasar'], 'Kota_asal': 'Yogyakarta'}
Dosen:
 {'_id': ObjectId('5f64737f70800cfdebd8fd5d'), 'nama': 'Euis', 'usia': 30, 'bidang': 'Fisika Teoretik', 'titel': 'S1', 'status': 'Honorer', 'nip': 789, 'matkul': ['Fisika Dasar', 'Fisika Modern', 'Kalkulus'], 'Kota_asal': 'Bandung'}
Dosen:
 {'_id': ObjectId('5f6473e570800cfdebd8fd62'), 'nama': 'Dodi', 'usia': 27, 'bidang': 'Computer Science', 'titel': 'S2', 'status': 'PNS', 'nip': 998, 'matkul': ['Data Analysis', 'AI', 'NLP'], 'Kota_asal': 'Surabaya'}
====================================================================================================
Mahasiswa:
 {'_id': ObjectId('5f64738670800cfdebd8fd5f'), 'nama': 'Gilang', 'usia': 20, 'prodi': 'Matematika', 'angkatan': 2017, 'nim': 456, 'Kota_asal': 'Semarang'}
Mahasiswa:
 {'_id': ObjectId('5f64738670800cfdebd8fd60'), 'nama': 'Ahmad Hanafi', 'usia': 22, 'prodi': 'Fisika', 'angkatan': 2017, 'nim': 789, 'Kota_asal': 'Makassar'}
Mahasiswa:
 {'_id': ObjectId('5f64738670800cfdebd8fd61'), 'nama': 'Dini', 'usia': 20, 'prodi': 'Matematika', 'angkatan': 2017, 'nim': '004', 'Kota_asal': 'Bekasi'}