In [3]:
import pymongo

dburl = 'mongodb://localhost:27017' #url server mongodb yg nanti untuk konek
# untuk konekin ke mongodb
myMongo = pymongo.MongoClient(dburl)
# ini untuk liat list database
dbs = myMongo.list_database_names()

Kampus = myMongo['Kampus'] #nama database penjualan. (baru)
Col_Dosen = Kampus['Dosen'] # ini sama dg fungsi db.createcollection. tp ini jg bisa akses collection lama
Col_Mahasiswa = Kampus['Mahasiswa']
print(dbs)

['HRD', 'Penjualan', 'RestaurantNY', 'admin', 'config', 'local']

In [92]:
user1 = Kampus.add_user('andi','anditopsecret',roles=['dbAdmin','readWrite'])
user2 = Kampus.add_user('budi','buditopsecret',roles=['readWrite'])

<ipython-input-92-65551385b80f>:1: DeprecationWarning: add_user is deprecated and will be removed in PyMongo 4.0. Use db.command with createUser or updateUser instead
  user1 = Kampus.add_user('andi','anditopsecret',roles=['dbAdmin','readWrite'])
<ipython-input-92-65551385b80f>:2: DeprecationWarning: add_user is deprecated and will be removed in PyMongo 4.0. Use db.command with createUser or updateUser instead
  user2 = Kampus.add_user('budi','buditopsecret',roles=['readWrite'])

In [6]:
Data_Dosen=[{'nama':"Caca",
'usia':28,
'asal':"Jakarta",
'bidang':"Fisika Astrologi",
'titel':"S2",
'status':"Honorer",
'nip':123,
'matkul':["Metrologi","Kosmologi","Kalkulus"]},
{'nama':"Dedi",
'usia':29,
'asal':"Yogyakarta",
'bidang':"Fisika Terapan",
'titel':"S3",
'status':"PNS",
'nip':456,
'matkul':["Instrumentasi","Elektronika","Fisika Dasar"]},
{'nama':"Euis",
'usia':30,
'asal':"Bandung",
'bidang':"Fisika Teoretik",
'titel':"S1",
'status':"Honorer",
'nip':789,
'matkul':["Fisika Dasar","Fisika Modern","Kalkulus"]}]

In [7]:
Col_Dosen.insert_many(Data_Dosen)
print("data dosen sudah masuk")

data dosen sudah masuk

In [9]:
Data_Mahasiswa=[{'nama':"Faza",
'usia':19,
'asal':"Aceh",
'prodi':"Fisika",
'angkatan':2017,
'nim':123},
{'nama':"Gilang",
'usia':20,
'asal':"Semarang",
'prodi':"Fisika",
'angkatan':2017,
'nim':456},
{'nama':"Hanafi",
'usia':20,
'asal':"Makassar",
'prodi':"Fisika",
'angkatan':2017,
'nim':789},
{'nama':"Dini",
'usia':20,
'asal':"Bekasi",
'prodi':"Fisika",
'angkatan':2017,
'nim':str('004')}]

In [10]:
Col_Mahasiswa.insert_many(Data_Mahasiswa)
print("data mahasiswa sudah masuk")

data mahasiswa sudah masuk

In [22]:
for i in Col_Dosen.find():
    print(f'Dosen: \n {i}')
print ('='*100)
for i in Col_Mahasiswa.find():
    print(f'Mahasiswa: \n {i}')

Dosen:
 {'_id': ObjectId('5f6306a5536c4dd08065f341'), 'nama': 'Caca', 'usia': 28, 'asal': 'Jakarta', 'bidang': 'Fisika Astrologi', 'titel': 'S2', 'status': 'Honorer', 'nip': 123, 'matkul': ['Metrologi', 'Kosmologi', 'Kalkulus']}
Dosen:
 {'_id': ObjectId('5f6306a5536c4dd08065f342'), 'nama': 'Dedi', 'usia': 29, 'asal': 'Yogyakarta', 'bidang': 'Fisika Terapan', 'titel': 'S3', 'status': 'PNS', 'nip': 456, 'matkul': ['Instrumentasi', 'Elektronika', 'Fisika Dasar']}
Dosen:
 {'_id': ObjectId('5f6306a5536c4dd08065f343'), 'nama': 'Euis', 'usia': 30, 'asal': 'Bandung', 'bidang': 'Fisika Teoretik', 'titel': 'S1', 'status': 'Honorer', 'nip': 789, 'matkul': ['Fisika Dasar', 'Fisika Modern', 'Kalkulus']}
====================================================================================================
Mahasiswa:
 {'_id': ObjectId('5f6307d6536c4dd08065f344'), 'nama': 'Faza', 'usia': 19, 'asal': 'Aceh', 'prodi': 'Fisika', 'angkatan': 2017, 'nim': 123}
Mahasiswa:
 {'_id': ObjectId('5f6307d6536c4dd08065f345'), 'nama': 'Gilang', 'usia': 20, 'asal': 'Semarang', 'prodi': 'Fisika', 'angkatan': 2017, 'nim': 456}
Mahasiswa:
 {'_id': ObjectId('5f6307d6536c4dd08065f346'), 'nama': 'Hanafi', 'usia': 20, 'asal': 'Makassar', 'prodi': 'Fisika', 'angkatan': 2017, 'nim': 789}
Mahasiswa:
 {'_id': ObjectId('5f6307d6536c4dd08065f347'), 'nama': 'Dini', 'usia': 20, 'asal': 'Bekasi', 'prodi': 'Fisika', 'angkatan': 2017, 'nim': '004'}

In [28]:
#HAPUS Property
Col_Mahasiswa.delete_one({"nama" : "Faza"})
print("Berhasil hapus data Faza")
print('='*100)
for i in Col_Mahasiswa.find():
    print(f'Mahasiswa: \n {i}')

Berhasil hapus data Faza
====================================================================================================
Mahasiswa:
 {'_id': ObjectId('5f6307d6536c4dd08065f345'), 'nama': 'Gilang', 'usia': 20, 'asal': 'Semarang', 'prodi': 'Fisika', 'angkatan': 2017, 'nim': 456}
Mahasiswa:
 {'_id': ObjectId('5f6307d6536c4dd08065f346'), 'nama': 'Hanafi', 'usia': 20, 'asal': 'Makassar', 'prodi': 'Fisika', 'angkatan': 2017, 'nim': 789}
Mahasiswa:
 {'_id': ObjectId('5f6307d6536c4dd08065f347'), 'nama': 'Dini', 'usia': 20, 'asal': 'Bekasi', 'prodi': 'Fisika', 'angkatan': 2017, 'nim': '004'}

In [33]:
#Insert Dodi dan data2nya

Dodi={'nama':"Dodi",
'usia':27,
'asal':"Surabaya",
'bidang':"Computer Science",
'titel':"S2",
'status':"PNS",
'nip':998,
'matkul':["Data Analysis","AI","NLP"]}

Col_Dosen.insert_one(Dodi)
print('Berhasil menambahkan Dodi')
print('='*100)
for i in Col_Dosen.find():
    print(f'Dosen: \n {i}')

Berhasil menambahkan Dodi
====================================================================================================
Dosen:
 {'_id': ObjectId('5f6306a5536c4dd08065f341'), 'nama': 'Caca', 'usia': 28, 'asal': 'Jakarta', 'bidang': 'Fisika Astrologi', 'titel': 'S2', 'status': 'Honorer', 'nip': 123, 'matkul': ['Metrologi', 'Kosmologi', 'Kalkulus']}
Dosen:
 {'_id': ObjectId('5f6306a5536c4dd08065f342'), 'nama': 'Dedi', 'usia': 29, 'asal': 'Yogyakarta', 'bidang': 'Fisika Terapan', 'titel': 'S3', 'status': 'PNS', 'nip': 456, 'matkul': ['Instrumentasi', 'Elektronika', 'Fisika Dasar']}
Dosen:
 {'_id': ObjectId('5f6306a5536c4dd08065f343'), 'nama': 'Euis', 'usia': 30, 'asal': 'Bandung', 'bidang': 'Fisika Teoretik', 'titel': 'S1', 'status': 'Honorer', 'nip': 789, 'matkul': ['Fisika Dasar', 'Fisika Modern', 'Kalkulus']}
Dosen:
 {'_id': ObjectId('5f630fc0536c4dd08065f348'), 'nama': 'Dodi', 'usia': 27, 'asal': 'Surabaya', 'bidang': 'Computer Science', 'titel': 'S2', 'status': 'PNS', 'nip': 998, 'matkul': ['Data Analysis', 'AI', 'NLP']}
Dosen:
 {'_id': ObjectId('5f630fc6536c4dd08065f349'), 'nama': 'Dodi', 'usia': 27, 'asal': 'Surabaya', 'bidang': 'Computer Science', 'titel': 'S2', 'status': 'PNS', 'nip': 998, 'matkul': ['Data Analysis', 'AI', 'NLP']}
Dosen:
 {'_id': ObjectId('5f630fd4536c4dd08065f34a'), 'nama': 'Dodi', 'usia': 27, 'asal': 'Surabaya', 'bidang': 'Computer Science', 'titel': 'S2', 'status': 'PNS', 'nip': 998, 'matkul': ['Data Analysis', 'AI', 'NLP']}

In [34]:
Col_Dosen.delete_one({"nama" : "Dodi"})
print("Berhasil hapus data Dodi")

#kelebihan input tadi, jadi saya delete

Berhasil hapus data Dodi

In [36]:
Col_Dosen.delete_one({"nama" : "Dodi"})
print("Berhasil hapus data Dodi")

#kelebihan input tadi, jadi saya delete untuk kedua kalinya

Berhasil hapus data Dodi

In [38]:
for i in Col_Dosen.find():
    print(f'Dosen: \n {i}')

Dosen:
 {'_id': ObjectId('5f6306a5536c4dd08065f341'), 'nama': 'Caca', 'usia': 28, 'asal': 'Jakarta', 'bidang': 'Fisika Astrologi', 'titel': 'S2', 'status': 'Honorer', 'nip': 123, 'matkul': ['Metrologi', 'Kosmologi', 'Kalkulus']}
Dosen:
 {'_id': ObjectId('5f6306a5536c4dd08065f342'), 'nama': 'Dedi', 'usia': 29, 'asal': 'Yogyakarta', 'bidang': 'Fisika Terapan', 'titel': 'S3', 'status': 'PNS', 'nip': 456, 'matkul': ['Instrumentasi', 'Elektronika', 'Fisika Dasar']}
Dosen:
 {'_id': ObjectId('5f6306a5536c4dd08065f343'), 'nama': 'Euis', 'usia': 30, 'asal': 'Bandung', 'bidang': 'Fisika Teoretik', 'titel': 'S1', 'status': 'Honorer', 'nip': 789, 'matkul': ['Fisika Dasar', 'Fisika Modern', 'Kalkulus']}
Dosen:
 {'_id': ObjectId('5f630fd4536c4dd08065f34a'), 'nama': 'Dodi', 'usia': 27, 'asal': 'Surabaya', 'bidang': 'Computer Science', 'titel': 'S2', 'status': 'PNS', 'nip': 998, 'matkul': ['Data Analysis', 'AI', 'NLP']}

In [61]:
#Mengubah nama Hanafi dan umurnya

Data = {"nama" : 'Hanafi'} # kondisi data yg nanti akan d update
nama_baru = {"$set": {"nama": 'Ahmad Hanafi'}}
umur_baru ={"$set": {"usia": 20}}#value yg akan di update
Col_Mahasiswa.update_one(Data,nama_baru)
Col_Mahasiswa.update_one(Data,umur_baru)
for i in Col_Mahasiswa.find() : 
    print(i)

{'_id': ObjectId('5f6307d6536c4dd08065f345'), 'nama': 'Gilang', 'usia': 20, 'asal': 'Semarang', 'prodi': 'Fisika', 'angkatan': 2017, 'nim': 456}
{'_id': ObjectId('5f6307d6536c4dd08065f346'), 'nama': 'Ahmad Hanafi', 'usia': 22, 'asal': 'Makassar', 'prodi': 'Fisika', 'angkatan': 2017, 'nim': 789, 'umur': 22}
{'_id': ObjectId('5f6307d6536c4dd08065f347'), 'nama': 'Dini', 'usia': 20, 'asal': 'Bekasi', 'prodi': 'Fisika', 'angkatan': 2017, 'nim': '004'}

In [65]:
## Menubah asal > Kota_asal : 
Data = {} 
new_val ={"$rename": {'asal' : 'Kota_asal'}}
Col_Dosen.update_many(Data,new_val)
print('Collection Dosen berhasil diubah')
Col_Mahasiswa.update_many(Data,new_val)
print('Collection Mahasiswa berhasil diubah')

Collection Dosen berhasil diubah
Collection Mahasiswa berhasil diubah

In [67]:
## Mengubah prodi menjadi Matematika, untuk kondisi usia=20
Data = {'usia':20} 
new_val ={"$set": {'prodi' : 'Matematika'}} 
Col_Mahasiswa.update_many(Data,new_val)
print('Collection Mahasiswa berhasil diubah')

Collection Mahasiswa berhasil diubah

In [76]:
print("Dosen")
for i in Col_Dosen.find():
    print(i)
    
print ('='*100)

print("Mahasiswa")
for i in Col_Mahasiswa.find():
    print(i)

Dosen
{'_id': ObjectId('5f6306a5536c4dd08065f341'), 'nama': 'Caca', 'usia': 28, 'bidang': 'Fisika Astrologi', 'titel': 'S2', 'status': 'Honorer', 'nip': 123, 'matkul': ['Metrologi', 'Kosmologi', 'Kalkulus'], 'Kota_asal': 'Jakarta'}
{'_id': ObjectId('5f6306a5536c4dd08065f342'), 'nama': 'Dedi', 'usia': 29, 'bidang': 'Fisika Terapan', 'titel': 'S3', 'status': 'PNS', 'nip': 456, 'matkul': ['Instrumentasi', 'Elektronika', 'Fisika Dasar'], 'Kota_asal': 'Yogyakarta'}
{'_id': ObjectId('5f6306a5536c4dd08065f343'), 'nama': 'Euis', 'usia': 30, 'bidang': 'Fisika Teoretik', 'titel': 'S1', 'status': 'Honorer', 'nip': 789, 'matkul': ['Fisika Dasar', 'Fisika Modern', 'Kalkulus'], 'Kota_asal': 'Bandung'}
{'_id': ObjectId('5f630fd4536c4dd08065f34a'), 'nama': 'Dodi', 'usia': 27, 'bidang': 'Computer Science', 'titel': 'S2', 'status': 'PNS', 'nip': 998, 'matkul': ['Data Analysis', 'AI', 'NLP'], 'Kota_asal': 'Surabaya'}
====================================================================================================
Mahasiswa
{'_id': ObjectId('5f6307d6536c4dd08065f345'), 'nama': 'Gilang', 'usia': 20, 'prodi': 'Matematika', 'angkatan': 2017, 'nim': 456, 'Kota_asal': 'Semarang'}
{'_id': ObjectId('5f6307d6536c4dd08065f346'), 'nama': 'Ahmad Hanafi', 'usia': 22, 'prodi': 'Fisika', 'angkatan': 2017, 'nim': 789, 'umur': 22, 'Kota_asal': 'Makassar'}
{'_id': ObjectId('5f6307d6536c4dd08065f347'), 'nama': 'Dini', 'usia': 20, 'prodi': 'Matematika', 'angkatan': 2017, 'nim': '004', 'Kota_asal': 'Bekasi'}